.container-study {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 150px;
}

.structure-card {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (width >= 768px) {
  .structure-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width >= 1200px) {
  .structure-card {
    grid-template-columns: repeat(3, 1fr);
  }
}
