.container-guide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 8rem;
}

.container-guide main,
.container-guide aside {
  flex: 1;
}

.container-guide main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.image {
  object-fit: contain;
}

.aside-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  position: relative;
  width: 300px;
}

@media screen and (width >= 400px) {
  .aside-container {
    min-height: 400px;
    width: 400px;
  }
}

@media screen and (width >= 768px) {
  .container-guide {
    flex-direction: column;
  }

  .aside-container {
    aspect-ratio: auto;
  }
}

@media screen and (width >= 1208px) {
  .container-guide {
    flex-direction: row;
    gap: 5rem;
    padding-top: 0;
  }
}
