.value-container h2,
.value-container p,
.value-container h4 {
  color: var(--color-bg);
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (width >= 768px) {
  .card-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}
