.card {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.card span {
  color: var(--color-opacity);
  font-family: var(--font-heading);
  font-size: 4rem;
  font-weight: 900;
}
