services:
  app:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - .:/app             
      - /app/node_modules   
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm run dev -- -H 0.0.0.0 -p 3000"
