services:
  app:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - .:/app             
      - /app/node_modules   
    ports:
      - "3001:3000"
    command: sh -c "npm install && npm run dev"
