.skill-container h2,
.skill-container p,
.skill-container h4 {
  color: var(--color-bg);
  width: 100%;
}

.list {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
  width: 100%;
}

