.container-stakes {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 8rem;
}

.container-stakes main,
.container-stakes aside {
  flex: 1;
}

.container-stakes main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (width >= 768px) {
  .container-stakes {
    flex-direction: column;
  }

  .aside-container {
    aspect-ratio: auto;
  }
}

@media screen and (width >= 1208px) {
  .container-stakes {
    flex-direction: row;
    gap: 5rem;
    padding-top: 0;
  }
}
