.btn-primary {
  background-color: var(--color-cta);
  border: none;
  color: var(--color-bg);
  cursor: pointer;
  outline: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.btn-secondary {
  background-color: var(--color-bg);
  border: 1px solid var(--color-muted);
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: uppercase;
}
