.btn-primary {
  background-color: var(--color-cta);
  border: none;
  color: var(--color-bg);
  cursor: pointer;
  font-size: 0.8rem;
  outline: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--color-cta-hover);
}

.btn-secondary {
  background-color: var(--color-bg);
  border: 1px solid var(--color-opacity);
  color: var(--color-text);
  cursor: pointer;
  font-size: 0.8rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.btn-secondary:hover {
  border: 1px solid var(--color-muted);
}

.btn-navigation {
  background: none;
  border: none;
  box-shadow: none;
  color: var(--color-opacity);
  cursor: pointer;
  font-family: var(--font-body);
  font-size: 0.8rem;
  outline: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.btn-navigation:hover {
  color: var(--color-cta);
}

@media screen and (width >= 768px) {
  .btn-primary,
  .btn-secondary,
  .btn-navigation {
    font-size: 1rem;
  }
}
