.container {
  align-items: center;
  border-bottom: 1px solid var(--color-opacity);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2rem;
}

.container-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  min-height: 100vh;
}

.container-content-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.container-context {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (width >= 768px) {
  .container-content {
    margin: var(--margin-md);
  }
}

@media screen and (width >= 1200px) {
  .container-content {
    flex-direction: row;
    margin: var(--margin-lg);
  }
}
