h1 {
  color: var(--color-text);
  font-family: var(--font-heading);
  font-size: 4rem;
  text-decoration: none;
}

h2 {
  color: var(--color-text);
  font-family: var(--font-heading);
  font-size: 3rem;
  text-decoration: none;
}

h3 {
  color: var(--color-text);
  font-family: var(--font-heading);
  font-size: 2rem;
  text-decoration: none;
}

em {
  color: var(--color-subtle);
  font-family: var(--font-heading);
  font-size: 4rem;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
}

strong {
  color: var(--color-subtle);
  font-family: var(--font-heading);
  font-size: 3rem;
  font-style: italic;
  font-weight: 600;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

p {
  color: var(--color-text);
  font-family: var(--font-body);
  line-height: 2;
  
}

.font-orange {
  color: var(--color-cta);
  font-family: var(--font-mono);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  word-spacing: 0.2rem;
}

.font-green {
  color: var(--color-subtle);
  font-family: var(--font-mono);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  word-spacing: 0.2rem;
}
