.hero-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.hero-container main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.button-section {
  display: flex;
  gap: 2rem;
}

@media screen and (width >= 768px) {
  .hero-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .hero-container main {
    flex: 2;
  }

  .hero-container aside {
    flex: 1;
  }
}

@media screen and (width >= 1200px) {
  .hero-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .hero-container main {
    flex: 2;
  }

  .hero-container aside {
    flex: 1;
  }
}
