.footer h4 {
  color: var(--color-bg);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.footer {
  align-items: center;
  border-bottom: 1px solid var(--color-muted);
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding-bottom: 2rem;
  width: 100%;
}

.owner {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.location {
  color: var(--color-muted);
  font-family: var(--font-mono);
}

.navigation {
  align-items: center;
  color: var(--color-muted);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.navigation p {
  color: var(--color-muted);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: var(--font-mono);
  gap: 1rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.navigation p:hover {
  color: var(--color-cta);
}

@media screen and (width >= 768px) {
  .footer {
    margin: var(--margin-md);
  }

  .footer h4 {
    font-size: 1.5rem;
  }

  .owner {
    flex-direction: row;
  }
}

@media screen and (width >= 1200px) {
  .footer {
    flex-direction: row;
    margin: var(--margin-lg);
  }

  .footer h4 {
    font-size: 2rem;
  }

  .owner {
    flex-direction: row;
  }
}
