.card {
  background-color: var(--color-card-background);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 2px 2px 10px var(--color-opacity);
  cursor: pointer;
}

.image-wrapper {
  aspect-ratio: 16 / 9;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 250px;
  padding: 1.5rem;
}

.date {
  color: var(--color-cta);
  font-family: var(--font-mono);
}

.tags {
  display: flex;
  gap: 0.4rem;
  margin-top: 0.5rem;
  margin-top: auto;
}

.tag {
  background: var(--color-bg);
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}
