.date {
  color: var(--color-gray-600);
  font-size: 0.85rem;
  letter-spacing: 0.25rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tag {
  background: var(--color-bg);
  border: 1px solid var(--color-gray-300);
  color: var(--color-gray-600);
  font-size: 0.8rem;
  letter-spacing: 0.25rem;
  padding: 0.3rem 0.6rem;
}

.title {
  color: #111827;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
}

.description {
  color: #4b5563;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
  max-width: 800px;
}

.image-wrapper {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.image {
  object-fit: cover;
}

@media screen and (width >= 480px) {
  .tags {
    gap: 1rem;
  }

  .image-wrapper {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}

@media screen and (width >= 768px) {
  .tags {
    gap: 1.5rem;
  }
}

@media screen and (width >= 1024px) {
  .tags {
    gap: 2rem;
  }
}
